body {
    background-color: #231b1a;
    font-family: 'Merriweather', serif;
    font-size: 22px;
    color: #fff6ea;
    margin: 0;
    padding: 0;
}

#content {
    max-width: 1600px;
    margin: 0 auto;
}

header {
    /* background-color: #282120; */
    display: grid;
    grid-template-columns: 1fr 90px 1fr;
    font-size: 18px;
}
.logo {
    width: 90px;
    margin-top: 5px;
}
#logo_link {
    justify-self: center;
    align-self: center;
    padding: 0;
    grid-column: 2/3;
}
/* #logo_link:hover {
    background-color: #282120;
} */

.nav {
    display: flex;
    justify-content: space-around;
}
.nav a {
    text-align: center;
    color: #fff6ea;
    text-decoration: none;
    padding: 35px 10px;
    align-self: center;
    text-transform: uppercase;
    position: relative;
}
/* .nav a:hover{
    background-color: #b2935b;
    color: #473c38;
} */
.nav a::before {
    content: '';
    display: block;
    height: 1px;
    border-radius: 1px;
    background: white;
    position: absolute;
    bottom: 1.5em;
    left: 0;
    right: 0;
    transform: scale(0, 1);
    transition: transform ease-in-out 250ms;
}
.nav a:hover::before {
    transform: scale(1, 1);
}
.nav {
    align-self: center;
    position: relative;
}
.block-1 {
    grid-column: 1/2;
    margin-left: 50px;
}
.block-2 {
    margin-right: 50px;
}

#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}
#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}
#hero-msg {
    grid-column: 2/3;
    grid-row: 2/3;
    margin-top: 100px;
    margin-bottom: 100px;
}
#hero-msg h1, #hero-msg h4 {
    text-align: center;
    text-shadow: 5px 5px 10px black;
}
#hero-msg h4 {
    color: #fcfbfb;
}
#hero-img {
    width: 100%;
}
h1 {
    color: #dee7ec;
    font-family: 'Cormorant Garamond', serif;
    font-size: 3em;
    margin-top: 10px;
    margin-bottom: 10px;
}
h4 {
    color: #fff6ea;
    font-family: 'Lancelot';
}
h2 {
    font-family: 'Cormorant Garamond', serif;
    font-size: 2em;
}

.definition {
    width: 60%;
    margin: 50px auto;
}
.definition h2 {
    color: #fff6ea;
}
.def-title {
    font-size: 4em;
}
.def-else {
    font-size: 1.6em;
    font-family: 'Cormorant Garamond', serif;
}
ul.def-else {
    font-size: 1.2em;
    margin-bottom: 100px;
}

.clocks {
    display: grid;
    grid-template-columns: 1fr 1px 1fr;
    height: 800px;
    background-color: #473c38;
    text-align: center;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
}
img {
    border-radius: 5px;
}
.clocks img {
    width: 400px;
}
.vl {
    border-left: 1px solid #fff6ea;
    height: 105%;
}
.clocks .vl {
    grid-column: 2/3;
    grid-row: 1/3;
}
.clocks h4 {
    font-size: 1.5em;
}
.big-ben-msg {
    grid-column: 1/2;
}
.czech-clock {
    grid-column: 3/4;
    grid-row: 1/2;
    /* align-self: flex-end; */
}
.czech-clock-msg {
    grid-column: 3/4;
}
.big-ben-msg p, .czech-clock-msg p {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
h2.horology-explain, h2.horology-history {
    text-align: center;
}
p.horology-explain, p.horology-history {
    /* margin-left: 15px;
    margin-right: 15px; */
    margin: 0 auto;
    width: 75%;
    max-width: 750px;
}
h2.horology-explain {
    margin-top: 150px;
}
p.horology-explain {
    margin-bottom: 50px;;
}
h2.horology-history {
    margin-top: 50px;
}
p.horology-history {
    margin-bottom: 150px;
}
hr {
    width: 85%;
}

.hamburg {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    background-color: #473c38;
    text-align: center;
}
.hamburg p{
    font-size: 0.6em;
}

.footer-intro {
    text-align: center;
    margin: 0 auto;
    margin-top: 100px;
    width: 80%;
}
footer {
    display: grid;
    grid-template-columns: 1fr 90px 1fr;
    align-items: center;
    margin-top: 100px;
    padding: 25px 50px;
}
.footer-links {
    background-color: #231b1a;
    padding: 25px 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer h3 {
    color: #fff6ea;
}
footer a {
    color: #fff6ea;
    text-decoration: none;
}
footer a:hover {
    color: #b2935b;
}
footer h3 a:hover {
    text-decoration: underline;
}

.highlight {
    color: #b2935b;
}