body {
    background-color: #231b1a;
    font-family: 'Merriweather', serif;
    font-size: 22px;
    color: #fff6ea;
    margin: 0;
    padding: 0;
}

#content {
    max-width: 1600px;
    margin: 0 auto;
}

header {
    /* background-color: #282120; */
    display: grid;
    grid-template-columns: 1fr 90px 1fr;
    font-size: 18px;
}
.logo {
    width: 90px;
    margin-top: 5px;
}
#logo_link {
    justify-self: center;
    align-self: center;
    padding: 0;
    grid-column: 2/3;
}
/* #logo_link:hover {
    background-color: #282120;
} */

.nav {
    display: flex;
    justify-content: space-around;
}
.nav a {
    text-align: center;
    color: #fff6ea;
    text-decoration: none;
    padding: 35px 10px;
    align-self: center;
    text-transform: uppercase;
    position: relative;
}
/* .nav a:hover{
    background-color: #b2935b;
    color: #473c38;
} */
.nav a::before {
    content: '';
    display: block;
    height: 1px;
    border-radius: 1px;
    background: white;
    position: absolute;
    bottom: 1.5em;
    left: 0;
    right: 0;
    transform: scale(0, 1);
    transition: transform ease-in-out 250ms;
}
.nav a:hover::before {
    transform: scale(1, 1);
}
.nav {
    align-self: center;
    position: relative;
}
.block-1 {
    grid-column: 1/2;
    margin-left: 50px;
}
.block-2 {
    margin-right: 50px;
}

hr {
    border-radius: 1px;
}

#hero-rule {
    width: 50%;
}
#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}
#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}
#hero-msg {
    grid-column: 2/3;
    grid-row: 2/3;
    margin-top: 100px;
    margin-bottom: 100px;
}
#hero-msg h1, #hero-msg h4 {
    text-align: center;
}
#hero-msg h4 {
    color: #fff6ea;
}
#hero-img {
    width: 100%;
}
.home-title {
    color: #fff6ea;
    font-family: 'Cormorant Garamond', serif;
    font-size: 3em;
    margin-top: 10px;
    margin-bottom: 10px;
}
#title-rule {
    width: 10%;
}
h4 {
    color: #fff6ea;
    font-family: 'Lancelot';
}
h1 {
    font-family: 'Cormorant Garamond', serif;
}

.description {
    width: 60%;
    display: flex;
    margin: 50px auto;
    color: #fff6ea;
    text-align: center;
}


.first-steps {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 775px;
    background-color: #473c38;
    /* text-align: center; */
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
}
h4 {
    text-align: center;
}
img {
    border-radius: 5px;
}
.first-steps img {
    width: 400px;
}
.vl {
    border-left: 1px solid #fff6ea;
    height: 100%;
}
.first-steps .vl {
    grid-column: 2/3;
    grid-row: 1/3;
}
.first-steps h4 {
    font-size: 1.5em;
}
.small-rule {
    width: 20%;
}
.first-step-msg p, .skeleton-msg p {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}


.end-steps {
    display: grid;
    grid-template-columns: 1fr 1px 1fr;
    height: 850px;
    background-color: #473c38;
    /* text-align: center; */
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
}
img {
    border-radius: 5px;
}
.end-steps img {
    width: 500px;
    align-self: flex-end;
}
.vl {
    border-left: 1px solid #fff6ea;
    height: 105%;
}
.end-steps .vl {
    grid-column: 2/3;
    grid-row: 1/3;
}
.end-steps h4 {
    font-size: 1.5em;
}
.second-to-last-msg {
    grid-column: 1/2;
}
.final-step-img {
    grid-column: 3/4;
    grid-row: 1/2;
    align-self: flex-end;
}
.second-to-last-msg, .final-step-msg {
    align-self: flex-start;
}
.final-step-msg {
    grid-column: 3/4;
}
.second-to-last-msg p, .final-step-msg p {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.end-rule {
    width: 50%;
}


.clock-rule {
    grid-column: 1/-1;
}


.center-title {
    width: 60%;
    margin: 50px auto;
}
/* .open-watch {
    display: block;
    height: 400px;
    margin: 40px auto;
} */
.rule-1 {
    margin-top: 50px;
}


.center-title {
    text-align: center;
    margin-top: 150px;
}
.img-quad {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    width: 75%;
    margin: 0 auto;
    align-items: center;
}
.img-quad img {
    width: 100%;
}
.center-msg {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 200px;
    margin-left: auto;
    margin-right: auto;
    width: 65%;
}
hr {
    width: 90%;
}

.watches {
    display: grid;
    grid-template-columns: 1fr 1px 1fr;
    height: 575px;
    background-color: #473c38;
    text-align: center;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
}
.watch-back {
    width: 400px;
}
.watches h4 {
    font-size: 1.5em;
}
.opened-watch-msg p {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.video {
    text-align: center;
    margin-top: 50px;
}
iframe {
    border-radius: 5px;
}


.footer-intro {
    text-align: center;
    margin: 0 auto;
    margin-top: 100px;
    width: 80%;
}
footer {
    display: grid;
    grid-template-columns: 1fr 90px 1fr;
    align-items: center;
    margin-top: 100px;
    padding: 25px 50px;
}
.footer-links {
    background-color: #231b1a;
    padding: 25px 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer h3 {
    color: #fff6ea;
}
footer a {
    color: #fff6ea;
    text-decoration: none;
}
footer a:hover {
    color: #b2935b;
}
footer h3 a:hover {
    text-decoration: underline;
}